In [57]:
import pandas as pd
import numpy as np
import datetime
df_transactions = pd.read_csv('transactions.csv')

In [58]:
df_transactions.head()

,Store ID,Store Type,Trans ID,Date,Time,Member ID,Member Grade,Gender,Member Birthday,Prod Name (Chi),Dept,Cat,Subcat,Sold Qty,MOP,Amount
0,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:47,NaN,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
1,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:48,NaN,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0
2,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:49,NaN,NaN,NaN,NaN,VIP 報紙-$0.5,Publications,Promotion Coupon,Promotion Coupon (General),1,現金,-0.5
3,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:29,NaN,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
4,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:30,NaN,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0

In [59]:
import pandas as pd
import numpy as np
import datetime

In [60]:
###################update date format###################
date_format = '%Y-%m-%d'

df_transactions['Date'] = pd.to_datetime(df_transactions['Date'],format=date_format)
 #check max txn date
max_date = df_transactions['Date'].max()
d = datetime.timedelta(1)
today = max_date + d

#df_transactions['Member ID'] = df_transactions['Member ID'].astype(str)
#df_transactions['Trans ID'] = df_transactions['Trans ID'].astype(str)

###################data preview###################
df_transactions.head()

,Store ID,Store Type,Trans ID,Date,Time,Member ID,Member Grade,Gender,Member Birthday,Prod Name (Chi),Dept,Cat,Subcat,Sold Qty,MOP,Amount
0,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:47,NaN,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
1,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:48,NaN,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0
2,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:49,NaN,NaN,NaN,NaN,VIP 報紙-$0.5,Publications,Promotion Coupon,Promotion Coupon (General),1,現金,-0.5
3,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:29,NaN,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
4,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:30,NaN,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0

In [61]:
#print(df_transactions.describe())  #-ve field: Sold Qty, Amount
#print(df_transactions.info())
#print(df_transactions.shape)  #(2759843, 16)

In [62]:
#drop duplicate (2622316, 16)
df_transactions.drop_duplicates(keep='first', inplace=True)

In [63]:
df_transactions.head()

,Store ID,Store Type,Trans ID,Date,Time,Member ID,Member Grade,Gender,Member Birthday,Prod Name (Chi),Dept,Cat,Subcat,Sold Qty,MOP,Amount
0,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:47,NaN,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
1,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:48,NaN,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0
2,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:49,NaN,NaN,NaN,NaN,VIP 報紙-$0.5,Publications,Promotion Coupon,Promotion Coupon (General),1,現金,-0.5
3,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:29,NaN,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
4,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:30,NaN,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0

In [64]:
#df_transactions['Member ID'].astype('int64')
df_transactions['Member ID']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
           ..
2759813   NaN
2759814   NaN
2759815   NaN
2759816   NaN
2759817   NaN
2759818   NaN
2759819   NaN
2759820   NaN
2759821   NaN
2759822   NaN
2759823   NaN
2759824   NaN
2759825   NaN
2759826   NaN
2759827   NaN
2759828   NaN
2759829   NaN
2759830   NaN
2759831   NaN
2759832   NaN
2759833   NaN
2759834   NaN
2759835   NaN
2759836   NaN
2759837   NaN
2759838   NaN
2759839   NaN
2759840   NaN
2759841   NaN
2759842   NaN
Name: Member ID, Length: 2622316, dtype: float64

In [67]:
#replace member id with trans id if null

df_transactions['Member ID'] = np.where(df_transactions['Member ID'].isnull(),df_transactions['Trans ID'],df_transactions['Member ID'])

In [68]:
df_transactions['Member ID'] = df_transactions['Member ID'].astype('int64')
df_transactions.head()

,Store ID,Store Type,Trans ID,Date,Time,Member ID,Member Grade,Gender,Member Birthday,Prod Name (Chi),Dept,Cat,Subcat,Sold Qty,MOP,Amount
0,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:47,8151518418,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
1,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:48,8151518418,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0
2,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:49,8151518418,NaN,NaN,NaN,VIP 報紙-$0.5,Publications,Promotion Coupon,Promotion Coupon (General),1,現金,-0.5
3,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:29,8151518417,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
4,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:30,8151518417,NaN,NaN,NaN,幸運星紙巾,Publications,Misc,Misc (General),1,現金,0.0

In [69]:
#select +ve price only
df_pos = df_transactions[(df_transactions['Sold Qty'] > 0) & (df_transactions['Amount'] > 0)]
print(df_pos.shape) #(2077101, 16)
print(df_pos.isnull().sum())  #783 is null for Subcat

(2077101, 16)
Store ID                 0
Store Type               0
Trans ID                 0
Date                     0
Time                     0
Member ID                0
Member Grade       1765936
Gender             1777619
Member Birthday    1806638
Prod Name (Chi)          0
Dept                     0
Cat                      0
Subcat                 783
Sold Qty                 0
MOP                      0
Amount                   0
dtype: int64

In [70]:
#a = df_pos[df_pos['Subcat'].isnull()]
#a['Prod Name (Chi)'].unique()

df_pos.loc[(df_pos['Prod Name (Chi)'] == 'Ã§ÂÂÃ©ÂÂÃ¥Â°ÂÃ¦Â¥Â­Ã©Â¦ÂÃ¥ÂÂ£Ã§ÂÂ 8Ã§Â²ÂÃ¨Â£Â')&(df_pos['Subcat'].isnull()), 'Subcat']= 'Gum'

C:\Users\Ajit Krishna\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [75]:
df_pos.to_csv('df_transactions_clean.csv', encoding='utf-8')